.workspace-item {
  &-link {
    &:hover {
      color: var(--mdb-primary) !important;
      text-decoration: underline;
    }
    &:hover .workspace-item-link-star {
      display: block;
    }
  }
  &-star {
    display: none;
  }
  &:hover .workspace-item-star {
    display: block;
  }
}

.dropdown-toggle {
  &::after {
    display: none !important;
  }
}
