<div class="notification-link px-2 py-3 rounded rounded-3 mb-1" (click)="markNotiRead()" *ngIf="notification">
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-row">
      <div class="">
        <div class="rounded-circle border border-2 border-gray-200 width-10 height-10">
          <img src="./assets/media/logo/logo.png" class="rounded-circle w-100 h-100" alt="" />
        </div>
      </div>
      <div class="d-flex flex-column ms-2">
        <p class="mb-0 max-line-3" [innerHTML]="notification.content | boldText"></p>
        <div class="d-flex align-items-center" style="font-size: 0.9rem">
          <span class="text-primary" style="white-space: nowrap">{{ tranformTime(notification.createdAt) }}</span>
          <ng-container *ngIf="showWorkspaceName">
            <i class="fa-solid fa-circle px-2 text-secondary" style="font-size: 0.3rem"></i>
            <span class="max-line-1"
              >trong nhóm
              <a class="fw-medium" routerLink="/workspace/{{ notification.workspace.id }}">{{
                notification.workspace.name
              }}</a></span
            >
          </ng-container>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center ms-2 px-2">
      <span class="p-1 rounded-circle" [ngClass]="{ 'bg-primary': !notification.read }"></span>
    </div>
  </div>
</div>
