<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-light bg-body-tertiary position-fixed top-0 start-0 end-0 border-bottom"
  style="z-index: 999; box-shadow: none"
>
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mb-1 mt-lg-0 me-0" href="#">
        <img src="../../../../assets/media/logo/logo.png" height="25" alt="Logo" loading="lazy" />
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link header-link rounded" routerLink="/workspace/list" routerLinkActive="active"
            >Các nhóm làm việc</a
          >
        </li>

        <li class="nav-item">
          <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown">
            <div ngbDropdownToggle>
              <a class="nav-link header-link rounded" style="cursor: default"
                >Nhóm truy cập gần đây <i class="fa-solid fa-chevron-down fw-medium"></i
              ></a>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <div class="p-2" style="min-width: 300px">
                <ng-container *ngIf="workspaces$ | async as workspaces">
                  <ng-container *ngIf="workspaces.length; else noLikeTpl">
                    <ng-container *ngFor="let w of workspaces">
                      <div class="p-2 workspace-item-link rounded header-link-item" (click)="goToWorkspace(w.id)">
                        <div class="d-flex align-items-center justify-content-between">
                          <div>
                            <span class="fw-medium fs-6">{{ w.name }}</span>
                            <app-user-avatar-infor
                              [user]="w.creator"
                              [size]="4"
                              [showEmail]="false"
                              [textSize]="'0.9rem'"
                            ></app-user-avatar-infor>
                          </div>
                          <div
                            class="{{ w.myInfo.like ? '' : 'header-link-item-star' }}"
                            (click)="likeWorkspace(w); $event.stopPropagation()"
                          >
                            <i *ngIf="!w.myInfo.like" class="fa-regular fa-star text-secondary"></i>
                            <i *ngIf="w.myInfo.like" class="fa-solid fa-star text-warning"></i>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown">
            <div ngbDropdownToggle>
              <a class="nav-link header-link rounded" style="cursor: default"
                >Đã thích<i class="fa-solid fa-chevron-down fw-medium"></i
              ></a>
            </div>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <div class="p-2" style="min-width: 300px">
                <ng-container *ngIf="likeWorkspaces$ | async as workspaces">
                  <ng-container *ngIf="workspaces.length; else noLikeTpl">
                    <ng-container *ngFor="let w of workspaces">
                      <div
                        class="p-2 workspace-item-link rounded header-link-item"
                        (click)="goToWorkspace(w.id)"
                        *ngIf="w.myInfo.like"
                      >
                        <div class="d-flex align-items-center justify-content-between">
                          <div>
                            <span class="fw-medium fs-6">{{ w.name }}</span>
                            <app-user-avatar-infor
                              [user]="w.creator"
                              [size]="4"
                              [showEmail]="false"
                              [textSize]="'0.9rem'"
                            ></app-user-avatar-infor>
                          </div>
                          <div
                            class="{{ w.myInfo.like ? '' : 'header-link-item-star' }}"
                            (click)="likeWorkspace(w); $event.stopPropagation()"
                          >
                            <i *ngIf="!w.myInfo.like" class="fa-regular fa-star text-secondary"></i>
                            <i *ngIf="w.myInfo.like" class="fa-solid fa-star text-warning"></i>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-template #noLikeTpl>
                  <div class="p-2">
                    <span>Không có nhóm nào!</span>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </li>

        <button class="btn btn-secondary ms-2" (click)="openWorkspaceCreateModal()">Thêm mới</button>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <!-- Notifications -->
      <div class="mt-2 me-1">
        <app-notification-dropdown></app-notification-dropdown>
      </div>

      <!-- Avatar -->
      <app-user-menu></app-user-menu>
    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div style="height: 58.6px"></div>
