.dropdown-toggle {
  &::after {
    display: none !important;
  }
}

.header-link {
  font-weight: var(--mdb-weight-bold) !important;
  &:hover {
    color: var(--mdb-primary) !important;
    background-color: var(--mdb-gray-200);
  }
  &.active {
    color: var(--mdb-primary) !important;
  }
  &-item {
    &-star {
      display: none;
    }
    &:hover .header-link-item-star {
      transition: 0.2s ease-in-out;
      display: block !important;
    }
  }
}

.workspace-item-link {
  &:hover {
    transition: 0.2s ease-in-out;
    background-color: var(--mdb-gray-200);
    color: var(--mdb-primary) !important;
    cursor: pointer;
  }
}
