<ng-container *ngIf="workspace">
  <div
    class="d-flex flex-column flex-shrink-0 p-2 bg-white h-100 border-end position-fixed top-0 start-0"
    style="width: 240px; margin-top: 58.6px"
  >
    <div class="border-bottom p-2 fs-6 mb-3">
      <a class="max-line-1 cursor-pointer fw-medium" (click)="openWorkspaceViewDetailModal()">{{ workspace.name }} </a>
    </div>
    <ul class="nav nav-pills flex-column mb-auto">
      <!-- workspace/works -->
      <li class="nav-item">
        <a
          routerLink="/workspaces/{{ workspace.id }}/works"
          class="nav-link"
          routerLinkActive="active"
          aria-current="work"
        >
          <i class="fa-solid fa-list-check"></i>
          Công việc
        </a>
      </li>

      <!-- workspace/tasks -->
      <li class="nav-item">
        <a
          routerLink="/workspaces/{{ workspace.id }}/tasks"
          class="nav-link"
          routerLinkActive="active"
          aria-current="work"
        >
          <i class="fa-regular fa-circle-check"></i>
          Việc cần làm
        </a>
      </li>

      <!-- workspace/members -->
      <li class="nav-item">
        <a
          routerLink="/workspaces/{{ workspace.id }}/members"
          class="nav-link"
          routerLinkActive="active"
          aria-current="work"
        >
          <i class="fa-solid fa-user-group"></i>
          Thành viên
        </a>
      </li>

      <!-- workspace/notifications -->
      <li class="nav-item">
        <a
          routerLink="/workspaces/{{ workspace.id }}/notifications"
          class="nav-link"
          routerLinkActive="active"
          aria-current="work"
        >
          <i class="fa-solid fa-bell"></i>
          Thông báo
          <span class="badge rounded-pill bg-danger py-1 px-2 ms-1" style="font-size: 0.7rem">
            {{ workspaceUnreadNotiCount$ | async }}
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div style="width: 240px"></div>
</ng-container>
