<div
  class="d-flex flex-column flex-shrink-0 p-3 bg-white h-100 border-end position-fixed top-0 start-0"
  style="width: 240px; margin-top: 72.8px"
>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a routerLink="/workspaces/list" class="nav-link" routerLinkActive="active" aria-current="workspaces">
        <i class="fa-solid fa-house"></i>
        Workspaces
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" aria-current="task">
        <i class="fa-solid fa-briefcase"></i>
        Task
      </a>
    </li>
  </ul>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto" *ngIf="workspaceId">
    <li class="nav-item">
      <a
        routerLink="/workspaces/{{ workspaceId }}/works"
        class="nav-link"
        routerLinkActive="active"
        aria-current="work"
      >
        <i class="fa-solid fa-list-check"></i>
        Công việc
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/workspaces/{{ workspaceId }}/members"
        class="nav-link"
        routerLinkActive="active"
        aria-current="work"
      >
        <i class="fa-solid fa-user-group"></i>
        Thành viên
      </a>
    </li>
  </ul>
</div>
<div style="width: 240px"></div>
