<app-header-title
  [title]="'Danh sách không gian làm việc'"
  [buttonName]="'Thêm mới'"
  (handleClick)="openWorkspaceCreateModal()"
></app-header-title>

<div class="card">
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="width-8 pb-3">#</th>
          <th scope="col" class="pb-3">Tên workspace</th>
          <th scope="col" class="pb-3" style="width: 300px">Người tạo</th>
          <th scope="col" class="width-8 pb-3"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="workspaces$ | async as workspaces">
          <ng-container *ngFor="let workspace of workspaces; index as i">
            <tr class="">
              <th class="py-3">
                <div class="d-flex align-items-center">
                  <span>{{ i + 1 }}</span>
                </div>
              </th>
              <td class="py-3 cursor-pointer" (click)="goToWorkspace(workspace.id)">
                {{ workspace.name }}
              </td>
              <td class="py-3">
                <app-user-avatar-infor [user]="workspace.creator"></app-user-avatar-infor>
              </td>
              <td class="py-3 text-end"><i class="fa-solid fa-ellipsis"></i></td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
