<form class="card" [formGroup]="form">
  <app-modal-header [title]="work?.id ? 'Chỉnh sửa công việc' : 'Thêm mới công việc'"></app-modal-header>
  <div class="card-body">
    <div class="mb-3">
      <label for="title" class="form-label required">Tên công việc</label>
      <input
        formControlName="title"
        type="title"
        class="form-control"
        id="title"
        placeholder="VD: Thiết kế cơ sở dữ liệu"
      />
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-6">
          <label for="follower" class="form-label required">Người theo dõi</label>
          <ng-select
            formControlName="followerId"
            id="follower"
            [items]="followers"
            bindValue="id"
            bindLabel="fullName"
            [clearable]="false"
          ></ng-select>
        </div>
        <div class="col-6">
          <label for="important" class="form-label required">Mức độ quan trọng</label>
          <ng-select
            id="important"
            formControlName="importantId"
            [items]="importants$ | async"
            bindValue="id"
            bindLabel="name"
            [clearable]="false"
          ></ng-select>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col-lg-6 col-12">
          <label for="startDate" class="form-label">Ngày bắt đầu</label>
          <input
            formControlName="startDate"
            id="startDate"
            placeholder="Chọn ngày bắt đầu"
            class="form-control"
            type="text"
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
            bsDatepicker
          />
        </div>
        <div class="col-lg-6 col-12">
          <label for="endDate" class="form-label">Ngày kết thúc</label>
          <input
            formControlName="endDate"
            id="endDate"
            placeholder="Chọn ngày kết thúc"
            class="form-control"
            type="text"
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
            bsDatepicker
          />
        </div>
      </div>
    </div>
    <ng-container *ngIf="work?.id">
      <div class="mb-3">
        <label for="description" class="form-label">Mô tả</label>
        <textarea class="form-control" id="description" formControlName="description" rows="3"></textarea>
      </div>
    </ng-container>
  </div>
  <app-modal-footer
    [confirmText]="work?.id ? 'Chỉnh sửa' : 'Tạo mới'"
    (handleClick)="submit()"
    [disabled]="form.invalid"
  ></app-modal-footer>
</form>
