<div class="mb-3">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 fs-5 fw-bold" *ngIf="breadcrumbTitles?.length">
        <ng-container *ngFor="let breadcrumb of breadcrumbTitles; let i = index">
          <li class="breadcrumb-item" *ngIf="i < breadcrumbTitles.length - 1">
            <a [routerLink]="breadcrumb?.routerLink">{{ breadcrumb.name }}</a>
          </li>
          <li class="breadcrumb-item active" *ngIf="i === breadcrumbTitles.length - 1">{{ breadcrumb.name }}</li>
        </ng-container>
      </ol>
    </nav>
    <div>
      <button *ngIf="buttonDelete" class="btn btn-danger me-3" (click)="onDelete()">{{ buttonDelete }}</button>
      <button class="btn btn-primary" (click)="onClick()">{{ buttonName }}</button>
    </div>
  </div>
</div>
