<div class="card">
  <div class="card-header py-3">
    <div class="d-flex flex-row justify-content-between">
      <h5 class="mb-0">Chu kỳ: {{ sprint.name }}</h5>
      <span>{{ sprint.startDate | date : 'dd/MM/yy' }} - {{ sprint.endDate | date : 'dd/MM/yy' }}</span>
    </div>
  </div>
  <div class="card-body">
    <div class="mb-3">
      <div class="d-flex flex-row justify-content-between">
        <div>
          <input type="text" class="form-control" placeholder="Tìm kiếm" />
        </div>
        <div>
          <button (click)="openWorkCreateModal()" class="btn btn-primary">Thêm công việc</button>
        </div>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="pb-3 width-10">#</th>
          <th scope="col" class="pb-3">Tên công việc</th>
          <th scope="col" class="pb-3">Trạng thái</th>
          <th scope="col" class="pb-3">Độ quan trọng</th>
          <th scope="col" class="pb-3">Người theo dõi</th>
          <th scope="col" class="pb-3 width-10"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="works$ | async as works">
          <ng-container *ngFor="let work of works; index as i">
            <tr class="">
              <th class="py-3">
                <span>{{ i + 1 }}</span>
              </th>
              <td class="py-3">
                <span class="work-hight-light" (click)="goToWorkDetail(work)">{{ work.title }}</span>
              </td>
              <td class="py-3">
                <span>{{ work.status }}</span>
              </td>
              <td class="py-3">
                <span>{{ work.important.name }}</span>
              </td>
              <td>
                <app-user-avatar-infor [user]="work.follower"></app-user-avatar-infor>
              </td>
              <td class="py-3 text-center">
                <div class="d-flex flex-row align-items-center">
                  <a class="text-success me-2 cursor-pointer" tooltip="Sửa" (click)="openWorkCreateModal(work)"
                    ><i class="fa-solid fa-pen-to-square fs-6"></i
                  ></a>
                  <a class="text-danger cursor-pointer" (click)="openConfirmDeleteModal(work)" tooltip="Xóa"
                    ><i class="fa-solid fa-trash fs-6"></i
                  ></a>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
