<div class="card">
  <app-modal-header [title]="'Thêm với nhân viên'"></app-modal-header>
  <div class="card-body">
    <div class="d-flex flex-row mb-3" *ngIf="usersSelected.length">
      <ng-container *ngFor="let user of usersSelected; let i = index">
        <div class="position-relative me-3">
          <app-user-avatar-infor [user]="user" [showName]="false"></app-user-avatar-infor>
          <div class="position-absolute top-0 start-100 translate-middle">
            <button class="btn btn-danger btn-sm px-1 py-0" (click)="removeUserSelected(user, i)">
              <i class="fa-solid fa-xmark fs-7"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Nhập tên hoặc email" (input)="searchUsers($event)" />
      <ul class="list-group" *ngIf="usersAdd$ | async as users">
        <ng-container *ngFor="let user of users; let i = index">
          <li
            *ngIf="!user.selected"
            class="list-group-item bg-hover-light cursor-pointer"
            (click)="selectUser(user.info, i)"
          >
            <app-user-avatar-infor [user]="user.info"></app-user-avatar-infor>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <app-modal-footer [confirmText]="'Thêm thành viên'" (handleClick)="addUserToWorkspace()"></app-modal-footer>
</div>
