<div class="card">
  <app-modal-header title="Thay đổi mật khẩu"></app-modal-header>
  <div class="card-body">
    <form action="" [formGroup]="form">
      <div class="mb-3 form-group">
        <label for="oldPassword" class="form-label required">Mật khẩu cũ</label>
        <input
          type="password"
          id="oldPassword"
          class="form-control form-control-lg"
          formControlName="oldPassword"
          placeholder="******"
        />
      </div>
      <div class="mb-3 form-group">
        <label for="newPassword" class="form-label required">Mật khẩu mới</label>
        <input
          type="password"
          id="newPassword"
          class="form-control form-control-lg"
          formControlName="newPassword"
          placeholder="******"
        />
      </div>
    </form>
  </div>
  <app-modal-footer
    [confirmText]="'Đổi mật khẩu'"
    [disabled]="form.invalid"
    (handleClick)="changePassword()"
  ></app-modal-footer>
</div>
