<div class="relative w-full max-w-2xl max-h-full">
  <!-- Modal content -->
  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700" style="width: 650px">
    <app-modal-header [title]="'Thêm thành viên'"></app-modal-header>
    <!-- Modal body -->
    <div class="p-4 md:p-5 space-y-4">
      <div class="flex align-items-center flex-row" *ngIf="usersSelected.length">
        <ng-container *ngFor="let user of usersSelected; let i = index">
          <div class="relative me-5">
            <img class="w-10 h-10 rounded-full" [src]="user.avatar" alt="" />
            <span
              (click)="removeUserSelected(user, i)"
              class="top-0 left-7 absolute cursor-pointer w-4.5 h-4.5 p-1.5 rounded-full bg-white dark:bg-gray-800 hover:bg-gray-100 hover:dark:bg-gray-900 hover:cursor-pointer"
            >
              <svg
                class="w-1.5 h-1.5 text-red-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                />
              </svg>
            </span>
          </div>
        </ng-container>
      </div>
      <input
        (input)="searchUsers($event)"
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      <ng-container *ngIf="usersAdd$ | async as users">
        <ul
          *ngIf="users.length"
          class="overflow-y-scroll w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white mt-0"
          style="max-height: 200px"
        >
          <ng-container *ngFor="let user of users; let i = index">
            <li
              class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600 hover:bg-gray-100 hover:dark:bg-gray-800 hover:cursor-pointer"
              *ngIf="!user.selected"
              (click)="selectUser(user.info, i)"
            >
              <div class="flex items-center">
                <img class="w-10 h-10 rounded-full" [src]="user.info.avatar" alt="Jese image" />
                <div class="ps-3">
                  <div class="text-base font-semibold">{{ user.info.fullName }}</div>
                  <div class="font-normal text-gray-500">{{ user.info.email }}</div>
                </div>
              </div>
            </li>
          </ng-container>
        </ul>
      </ng-container>
      <div class="w-full flex justify-end">
        <button
          (click)="addUserToWorkspace()"
          type="button"
          class="py-3 px-5 text-sm font-medium text-end text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >
          Thêm mới
        </button>
      </div>
    </div>
  </div>
</div>
