<div class="relative w-full max-w-2xl max-h-full">
  <!-- Modal content -->
  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700" style="width: 650px">
    <app-modal-header [title]="'Thêm mới workspace'"></app-modal-header>
    <!-- Modal body -->
    <div class="p-4 md:p-5 space-y-4">
      <form action="#" class="space-y-8" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Tên worksapce</label
          >
          <input
            formControlName="name"
            class="shadow-sm bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="VD: Lớp cntt6 k61"
          />
        </div>

        <div class="sm:col-span-2">
          <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Mô tả</label>
          <textarea
            formControlName="description"
            rows="3"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-100 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Thêm mô tả"
          ></textarea>
        </div>
        <div class="w-full flex justify-end">
          <button
            type="submit"
            class="py-3 px-5 text-sm font-medium text-end text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Thêm mới
          </button>
        </div>
      </form>
    </div>
    <!-- <app-modal-footer></app-modal-footer> -->
  </div>
</div>
