<form class="card" [formGroup]="form">
  <app-modal-header [title]="'Thêm việc cần làm'"></app-modal-header>
  <div class="card-body">
    <div class="mb-3">
      <label for="title" class="form-label">Tên công việc</label>
      <input
        type="text"
        formControlName="title"
        class="form-control"
        id="title"
        placeholder="VD: Thiết kế cơ sở dữ liệu"
      />
    </div>
    <div class="mb-3">
      <label for="assignee" class="form-label">Tên công việc</label>
      <ng-select formControlName="assigneeId" [items]="users$ | async" bindValue="id" bindLabel="fullName"></ng-select>
    </div>
  </div>
  <app-modal-footer [confirmText]="'Thêm mới'" (handleClick)="addTask()"></app-modal-footer>
</form>
