<a
  href="#"
  class="block max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <div>
    <img
      style="aspect-ratio: 3/2; object-fit: cover"
      class="w-full max-w-xl rounded-lg"
      src="https://scontent.fhan15-2.fna.fbcdn.net/v/t39.30808-6/434655116_1036194398055415_2618980457608282824_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_ohc=JH0Q4fM5XL8Ab4HEVH0&_nc_ht=scontent.fhan15-2.fna&oh=00_AfC4NvwK6watSJ-V1RaxTmcRD3GUZQsdd-SBLs77u3kNqQ&oe=66140647"
      alt=""
    />
  </div>
  <p class="font-normal text-gray-700 dark:text-gray-400">
    Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
  </p>
</a>
