<h2 class="text-uppercase text-center mb-4 text-primary">Đăng nhập</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group mb-3">
    <label class="form-label required" for="email">Email</label>
    <input
      type="email"
      id="email"
      class="form-control form-control-lg"
      formControlName="email"
      placeholder="VD: abc@example.com"
    />
    <app-error-message
      [control]="control('email')"
      [validation]="'required'"
      [message]="'Bạn chưa nhập email!'"
    ></app-error-message>
    <app-error-message
      [control]="control('email')"
      [validation]="'email'"
      [message]="'Email không đúng định dạng!'"
    ></app-error-message>
  </div>

  <div class="form-group mb-3">
    <label class="form-label required" for="passwork">Mật khẩu</label>
    <input
      type="password"
      id="passwork"
      class="form-control form-control-lg"
      formControlName="password"
      placeholder="******"
    />
    <app-error-message
      [control]="control('password')"
      [validation]="'required'"
      [message]="'Bạn chưa nhập mật khẩu!'"
    ></app-error-message>
    <app-error-message
      [control]="control('password')"
      [validation]="'minlength'"
      [message]="'Mật khẩu tối thiểu 6 ký tự!'"
    ></app-error-message>
    <app-error-message
      [control]="control('password')"
      [validation]="'maxlength'"
      [message]="'Mật này tối đa 16 ký tự!'"
    ></app-error-message>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary btn-block btn-lg gradient-custom-4 mt-3" [disabled]="form.invalid">
      Đăng nhập
    </button>
  </div>

  <p class="text-center text-muted mt-5 mb-0">
    Bạn chưa có tài khoản? <a routerLink="/auth/register" class="fw-bold text-body"><u>Đăng ký</u></a>
  </p>
</form>
