<app-header-title
  [title]="'Danh sách thành viên'"
  [buttonName]="'Thêm thành viên'"
  (handleClick)="openAddMemberModal()"
></app-header-title>

<div class="card">
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="pb-3 width-10">#</th>
          <th scope="col" class="pb-3">Thành viên</th>
          <th scope="col" class="pb-3">Vai trò</th>
          <th scope="col" class="pb-3"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="members$ | async as members">
          <ng-container *ngFor="let member of members; index as i">
            <tr class="">
              <th class="py-3">
                <div class="d-flex align-items-center">
                  <span>{{ i + 1 }}</span>
                </div>
              </th>
              <td class="py-3">
                <app-user-avatar-infor [user]="member.user"></app-user-avatar-infor>
              </td>
              <td class="py-3">
                <span class="badge {{ transformRoleBagde(member.role) }}">
                  {{ getMemberRoleName(member.role) }}
                </span>
              </td>
              <td class="py-3 text-center"><i class="fa-solid fa-ellipsis"></i></td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
