<div
  class="offcanvas offcanvas-end show"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
  style="width: 550px"
>
  <div class="offcanvas-header border-bottom">
    <div class="d-flex flex-row justify-content-between w-100">
      <div class="btn btn-outline-primary">Hoàn Thành</div>
      <div>thoáty</div>
    </div>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div ngbAccordion>
      <div ngbAccordionItem [collapsed]="false" class="mb-3">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Simple</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <form action="">
                <div class="row mb-3">
                  <div class="col-4">
                    <label class="form-label">Người thực hiện</label>
                  </div>
                  <div class="col-8">
                    <ng-select [items]="users$ | async" bindValue="id" bindLabel="fullName"></ng-select>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-4">
                    <label class="form-label">Độ quan trọng</label>
                  </div>
                  <div class="col-8">
                    <ng-select></ng-select>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-4">
                    <label class="form-label">Ngày hết hạn</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" bsDatepicker />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-4">
                    <label class="form-label">Ngày hết hạn</label>
                  </div>
                  <div class="col-8">
                    <input type="text" class="form-control" bsDatepicker />
                  </div>
                </div>
              </form>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
