<div ngbDropdown class="d-inline-block" *ngIf="userLogged">
  <div ngbDropdownToggle>
    <div class="d-inline-block rounded-circle width-6 height-6 border border-2 border-gray-200">
      <img
        [src]="userLogged.avatar"
        alt="{{ userLogged.fullName }}"
        class="rounded-circle h-100 w-100"
        style="background-size: contain"
      />
    </div>
  </div>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <div class="p-3" style="min-width: 250px">
      <div class="mb-3">
        <div class="pb-2 border-bottom">
          <app-user-avatar-infor [user]="userLogged"></app-user-avatar-infor>
        </div>
      </div>

      <div class="p-2 rounded user-menu-item" (click)="goToProfile()">
        <i class="fa-solid fa-user me-2"></i>
        <span class="">Thông tin cá nhân</span>
      </div>
      <div class="p-2 rounded user-menu-item" (click)="openMopdalChangePassword()">
        <i class="fa-solid fa-lock me-2"></i>
        <span class="">Đổi mật khẩu</span>
      </div>

      <ng-container *ngIf="userLogged?.role.name === 'admin'">
        <div class="p-2 rounded user-menu-item" (click)="goToManageUser()">
          <i class="fa-solid fa-users me-2"></i>
          <span class="">Quản lý người dùng</span>
        </div>
      </ng-container>

      <div class="p-2 rounded user-menu-item-danger" (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket text-danger me-2"></i>
        <span class="text-danger">Đăng xuất</span>
      </div>
    </div>
  </div>
</div>
